# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# lxf vs file
*.sdf
/client/CocosJSGame/frameworks/cocos2d-html5/
/client/CocosJSGame/frameworks/js-bindings/
/client/CocosJSGame/frameworks/runtime-src/proj.win32/Debug.win32/
/client/CocosJSGame/publish/
/client/CocosJSGame/runtime/
/client/CocosJSGame/frameworks/cocos2d-html5__js-binding.zip
/client/CocosJSGame/frameworks/runtime-src/proj.win32/CocosJSGame.opensdf
/client/CocosJSGame/frameworks/runtime-src/proj.android/obj/
/client/CocosJSGame/frameworks/runtime-src/proj.android/bin/
/client/CocosJSGame/frameworks/runtime-src/proj.android/gen/
/client/CocosJSGame/tools/
/server/ddd/.myumldata
/server/ddd/.settings/com.genuitec.eclipse.core.prefs