<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>cardbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,217},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{49,59}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,160},{51,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{51,55}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,278},{47,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{47,57}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbgb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,220},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,154},{64,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgr_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgr_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgr_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,88},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,286},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,378},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,357},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,289},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,286},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,343},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,332},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,330},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,275},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,241},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,207},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,173},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,344},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,310},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,139},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,54},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,308},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,286},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,323},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,136},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,309},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,112},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,88},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardtype_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,28},{19,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,24}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>cardtype_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,114},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>cardtype_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{19,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{19,24}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>cardtype_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,91},{21,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>publish2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9bf632664b095f42961a12f62696652$</string>
            <key>textureFileName</key>
            <string>publish2.png</string>
        </dict>
    </dict>
</plist>
