<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>cardbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,59},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{49,59}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{51,55}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,120},{47,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{47,57}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>cardbgb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,200},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,134},{64,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgr_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgr_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,68},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbgr_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{64,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,86}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>cardbnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,332},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,305},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,288},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,264},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,213},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,297},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,275},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,266},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,251},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,266},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,227},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardbnum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,203},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,216},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,309},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,298},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,179},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,179},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,271},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,266},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,182},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,275},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,148},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardrnum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,114},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cardtype_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,250},{19,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,24}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>cardtype_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,88},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>cardtype_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,243},{19,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{19,24}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>cardtype_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,220},{21,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>publish2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1f309ad0f00e7549efe86daa020fe2$</string>
            <key>textureFileName</key>
            <string>publish2.png</string>
        </dict>
    </dict>
</plist>
